h1 {
  margin-bottom: 1rem;
}

#menu {
  width: min(20%, 10rem);
  height: calc(100vh - 6rem);
  overflow: hidden;
}

#week-menu {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-block: 0.5rem;
}

.week-btn {
  background-color: black;
  color: white;
  padding: 0.5rem 1rem;
  width: 80%;
  clip-path: polygon(0% 0%, 0% 100%, 90% 100%, 100% 0%);
  animation: 600ms ease-in-out 0s 1 slideInLeft;
  transition: all 200ms;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.week-btn:nth-child(even) {
  clip-path: polygon(0% 0%, 10% 100%, 100% 100%, 100% 0%);
  align-self: flex-end;
  animation: 600ms ease-in-out 0s 1 slideInRight;
}

.week-btn:hover:not(.disabled),
#menu .selected {
  width: 100%;
  clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%);
}

.week-btn.disabled {
  cursor: default;
  color: #313131;
  background-color: #c4c4c4;
}

.selected {
  cursor: default;
}

.hide {
  animation: 600ms ease-in-out 0s 1 slideOutLeft;
  transform: translateX(-100%);
}

.hide:nth-child(even) {
  animation: 600ms ease-in-out 0s 1 slideOutRight;
  transform: translateX(100%);
}

.hidden {
  position: absolute;
  display: none;
}

#back-btn {
  position: absolute;
  bottom: 2rem;
  clip-path: polygon(0% 0%, 0% 100%, 90% 100%, 100% 0%);
  align-self: flex-start;
  animation: 600ms ease-in-out 0s 1 slideInLeft;
}

#exercises-menu {
  animation: 2s ease-in-out 0s 1 exerciseSlideDown;
  overflow: auto;
  padding-left: 0.5rem;
  height: 80%;
  direction: rtl;
  text-align: left;
}

#exercises-menu::-webkit-scrollbar {
  width: 4px;
}

#exercises-menu::-webkit-scrollbar-track {
  background-color: white;
}

#exercises-menu::-webkit-scrollbar-thumb {
  background: black;
}

.exercise-btn {
  flex-direction: column;
  padding: 0.5rem;
  cursor: pointer;
  transition: all 250ms;
}

.exercise-btn:hover {
  background-color: black;
  color: white;
}

.exercise-btn:not(:last-child) {
  border-bottom: 1px solid black;
}

.exercise-btn span {
  display: block;
  font-size: 1.5rem;
  font-weight: bold;
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideOutLeft {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes slideOutRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes exerciseSlideDown {
  0% {
    position: absolute;
    opacity: 0;
    transform: translateY(20%);
  }
  50% {
    position: inherit;
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
