* {
  box-sizing: border-box;
}

header {
  height: 3rem;
  background-color: black;
  border: 2px solid black;
}

footer {
  height: 3rem;
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
